
<div id="about-container">

    <div id="curriculum">

        <h2>Curriculum Vitae</h2>
        <br>
        <p class="about-p">
            carsten nicolai, born 1965 in karl-marx-stadt, is a german artist and musician based in berlin. he is part of an
            artist generation who works intensively in the transitional area between music, art and science. in his work he
            seeks to overcome the separation of the sensory perceptions of man by making scientific phenomenons like sound and
            light frequencies perceivable for both eyes and ears. influenced by scientific reference systems, nicolai often
            engages mathematic patterns such as grids and codes, as well as error, random and self-organizing structures. his
            installations have a minimalistic aesthetic that by its elegance and consistency is highly intriguing. after his
            participation in important international exhibitions like documenta x and the 49th and 50th venice biennale,
            nicolai’s works were shown worldwide in extensive solo and group exhibitions.
        </p>
        <br>
        <p class="about-p">
            his artistic œuvre echoes in his work as a musician. for his musical outputs he uses the pseudonym alva noto. with a
            strong adherence to reductionism he leads his sound experiments into the field of electronic music creating his own
            code of signs, acoustics and visual symbols. together with olaf bender and frank bretschneider he is co-founder of
            the label 'raster-noton. archiv für ton und nichtton'. diverse musical projects include remarkable collaborations
            with ryuichi sakamoto, ryoji ikeda (cyclo.), blixa bargeld or mika vainio. nicolai toured extensively as alva noto
            through europe, asia, south america and the us. among others, he performed at the solomon r. guggenheim museum in
            new york, the san francisco museum of modern art, centre pompidou in paris and tate modern in london. most recently
            nicolai scored the music for alejandro gonzález iñárritu’s newest film, 'the revenant' which has been nominated for
            a golden globe, bafta, and critics choice award.
        </p>
    </div>

    <aside>
        <img src="/assets/img/Carsten-Nicolai-reflektor-distortion.jpg" id="reflektor" alt="reflektor">
    </aside>

</div>