<div id="works">

    <div id="music-container">

        <h2>Music</h2>

        <br>

        <div class="music-item">

            <h3>Collaborations</h3>
            <br>
            <p>
                Carsten Nicolai does music under the <span class="names">Alva Noto</span> moniker.
                He is a long time collaborator of <span class="names">Ryuichi Sakamoto</span>. They won
                an Academy award for their work on "The Revenant" movie score. They often collaborate together
                on projects blending acoustic and electronic music.
            </p>

            <br>

            <iframe src="https://player.vimeo.com/video/191205737?title=0&byline=0&portrait=0" width="640" height="360"
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <p>Alva Noto and Ryuichi Sakamoto site specific performance at the GlassHouse from The Glass House</p>

        </div>

        <br>

        <div class="music-item">

            <h3>Solo project - Alva Noto</h3>
            <br>
            <p>
                His solo projects often range to ambient to minimalistic electroacoustic pieces.
            </p>

            <br>

            <iframe id="xerrox-video" width="560" height="315" src="https://www.youtube.com/embed/xbdwnEc3EcE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <p>Alva Noto - Monophaser 2 from the Xerrox volume 2 (NOTON)</p>

        </div>
    </div>

    <br>

    <div id="installations-container">

        <h2>Installations</h2>

        <br>

        <div class="installations-item">

            <h3>Reflektor distortions</h3>
            <br>
            <p>
                the installation reflektor distortion - conceived as a rotating, water-filled basin - is inspired by the
                shape of a parabolic mirror that 'rotates' water via centrifugal force. the work consists of the three
                main components mirror, reflection and distortion. both curve and distortion of the water surface is
                affected by speed and integrated resistors that generate a permanently new and re-organizing mirror
                reflection. the water surface will be supplementary distorted via speaker by resonating low sound
                frequencies. the function of the mirror is hereby eminent: the mirror surface is the medium that reveals
                reality as distorted reflection. rising the question of the observed and the real image the installation
                plays with the artist’s thesis that we all have a permanent distorted perception of reality.
            </p>
            <br>
            <iframe src="https://player.vimeo.com/video/168672417?portrait=0" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>2016 : neon lights, water, steel, sound, diameter 200 cm , height 26 cm</p>

        </div>

        <br>

        <div class="installations-item">

            <h3>Unidisplay</h3>
            <br>
            <p>
                The installation unidisplay employs visual semiotics to examine various theories of perception. The work
                operates with a number of modules of different visual effects that interfere with the viewers’
                perception. The installation unfolds against a long projection wall in a mirrored room, thus visually
                expanding like a mise en abyme. The basic visual – made up of graphic translations of various units of
                time measurement – acts as a world clock and evokes the notion of inter- twining time, between past,
                present, and future. This version of the installation unidisplay was specifically modified and extended
                for SonarPLANTA.
            </p>
            <br>
            <iframe src="https://player.vimeo.com/video/104911183?portrait=0" width="640" height="360" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            
        </div>
    </div>

</div>